
<div class = "container" style="margin: 0 auto">
<i class="fas fa-hamburger"></i>
<div id = "burgerArea">
    
</div>
        <form class="create-form">
        <div class="form-group">
            <input type="text" id="burger_name" name="name">
        </div>
        <button id ="addburger" type="button" class="btn btn-primary">Submit</button>
        </form>
        <div>
        Enter a Burger you would like to eat, then click the "Submit" button
        <div>
</div>