body {
    background-color: yellow;
}

.jumbotron {
    text-align: center;
    background-color: pink;
    margin-top: 200px;
    border-radius: 25px
}

button {
    cursor: pointer;
    margin: 10px;
   border-radius: 5px
}

#timer {
    float: right;
    margin-right: 30px;
}