body {
    background-color: yellow;
}

.jumbotron {
    text-align: center;
    background-color: pink;
}

button {
    cursor: pointer;
    margin: 10px;
}

#timer {
    float: right;
    margin-right: 30px;
}