    .text-center {
        font-weight: bold;
        font-size: 30px;
        background-color: green;
        color: white;
    }
    
    h1 {
        text-align: center;
    }
    
    #search {
        background-color: lightgray;
        font-weight: bold;
        font-size: 20px;
        padding-bottom: 30px;
    }
    
    #current {
        background-color: white;
        border: 1px solid lightgray;
        padding: 15px;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    
    #forecast {
        font-size: 23px;
    }
    
    #searchDiv {
        margin-top: 15px;
        margin-left: 5px;
    }
    
    .days {
        display: inline-block;
        background-color: green;
        width: 100px;
        color: white;
        margin: 5px;
        padding: 5px;
    }
    /* button {
        background-color: white;
    } */