@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
#bodyText {
    font-size: 2rem; 
    }
    #bio-image{
        width: 350px;
        height: auto;  
    }
    footer{
        font-size: 2.4rem
    }
    #jacob{
        font-size: 2.4rem
    }
    .display-4 {
        font-size: 5rem
    }
  }     

body {
    background: url("../images/concrete.png");
    background-size: auto, cover;
}

.navbar {
    background-color: white;
    margin-bottom: 35px;
    font-family: 'Roboto Mono', monospace;
}

#jacob {
    background-color: black;
    padding: 13px;
    color: white;
}

h1 {
    font-family: 'Roboto Mono', monospace;
    color: black;
}

.jumbotron {
    background: url("../images/concrete.png");
    color: #777777;
    /* border: #dddddd solid 2px; */
    margin-bottom: 124px;
}

.row {
    font-family: 'Roboto Mono', monospace;
    color: #777777;
}

.nav-item {
    font-family: 'Roboto Mono', monospace;
    color: #777777;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
    font-family: 'Roboto Mono', monospace;
}

.slideInLeft {
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count: 1;
}

#bio-image {
    float: left;
    margin-bottom: 10px;
    margin-right: 20px;
}

