body {
    background: url("../images/concrete.png");
    background-size: auto, cover;
}

.navbar {
    background-color: white;
    margin-bottom: 35px;
    font-family: 'Roboto Mono', monospace;
}

#jacob {
    background-color: black;
    color: white;
    padding: 13px;
}

h1 {
    font-family: 'Roboto Mono', monospace;
    color: black;
}

.jumbotron {
    background: url("../images/concrete.png");
    color: #777777;
    /* border: #dddddd solid 2px; */
    margin-bottom: 85px;
}

.row {
    font-family: 'Roboto Mono', monospace;
    color: #777777;
}

.nav-item {
    font-family: 'Roboto Mono', monospace;
    color: #777777;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px;
    font-family: 'Roboto Mono', monospace;
}

#contactMe {
    text-align: center;
}

#information {
    font-size: 23px;
    font-family: 'Roboto Mono', monospace;
}

.slideInRight {
    animation-duration: 1s;
    animation-delay: 0s;
    animation-iteration-count: 1;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 812px) and (-webkit-min-device-pixel-ratio: 3) {
    #contactInfo {
        font-size: 2.4rem;
    }
    /* #email{
        margin-bottom: 10px
    }
    #phone{
        margin-bottom: 10px
    }
    #linkedIn{
        margin-bottom: 10px
    }
    #github{
        margin-bottom: 10px
    }
    #phone{
        margin-bottom: 10px
    } */

    #jacob {
        font-size: 2.4rem
    }

    footer {
        font-size: 2.4rem
    }
    .display-4 {
        font-size: 5rem
    }
}